@import "variables.scss";

$vertical-margin: 24px;
$horizontal-margin: 24px;
$border-size: 12px;

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    margin: $vertical-margin $horizontal-margin;
}

@media only screen and (min-width: #{$desktop-breakpoint}) {
    .container {
        max-width: $desktop-breakpoint;

        border: 6px double $color-3;
        padding: $vertical-margin $horizontal-margin;
    }
}

@media only screen and (min-width: #{$tablet-breakpoint}) {
    .container {
        max-width: $tablet-breakpoint;
    }
}
