$vertical-margin: 24px;
$horizontal-margin: 24px;
$border-size: 12px;

.container {
    display: flex;
    flex-direction: column;

    margin: $vertical-margin $horizontal-margin;
}

@media only screen and (min-width: #{$desktop-breakpoint}) {
    .container {
        align-items: center;

        max-width: $desktop-breakpoint;

        border: 12px dotted black;
        padding: $vertical-margin $horizontal-margin;
    }
}

@media only screen and (min-width: #{$tablet-breakpoint}) {
    body {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .container {
        max-width: $tablet-breakpoint;
    }
}
