@import "variables.scss";

$title-size: 48px;
$text-size: 16px;

body {
    background-color: $color-2;
    color: $color-1;
    font-family: cursive;
}

h1 {
    font-size: $title-size;
    font-family: "Annie Use Your Telescope", cursive;

    align-self: flex-start;
}

h2 {
    align-self: flex-end;
}

p {
    font-size: $text-size;
}

a {
    border-bottom: 3px solid $color-0;
}

.container {
    border-style: dotted;
}
