@import "variables.scss";

$title-size: 40px;
$body-size: 16px;

$face-size: 200px;

body {
    background-color: $color-0;
}

img.hero {
    width: 100vw;
}

.bar {
    background-color: black;
}


@media only screen and (min-width: #{$desktop-breakpoint}) {
    img.hero {
        margin-top: -267px;
    }
    .pane > img.smol {
        width: 20vw;
    }
}

.face {
    width: $face-size;

    border: 1px solid $color-2;
    border-radius: 4px;
    padding: 6px;

    margin-bottom: 12px;
}

h1 {
    font-family: "Shrikhand", cursive;
    font-size: $title-size;

    color: $color-1;
    margin-top: 20px;
    margin-bottom: 20px;
}

h1 > .large {
    font-size: $title-size + 4px;
}

h1 > .small {
    font-size: $title-size - 4px;
}

p {
    font-family: "Abel", sans-serif;
    font-size: $body-size;

    margin: 12px 0 6px;
    line-height: 1.3;
}

a {
   font-family: "Shrikhand", cursive;
   font-size: $title-size;

}

.secret {
    color: $color-0;

    &:hover {
        color: $color-1;
    }
}
.pane {
    width: 100vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.pane > img {
    width: 50vw;
}

hr {
    border: 120px solid black;
    width: 100vw;
}

.bar {
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 12px 0;
}

.bar i {
    color: white;
}