@import "variables.scss";

$title-size: 40px;
$body-size: 16px;

$face-size: 200px;

body {
    background-color: $color-0;
}

.face {
    width: $face-size;

    border: 1px solid $color-2;
    border-radius: 4px;
    padding: 6px;

    margin-bottom: 12px;
}

h1 {
    font-family: "Shrikhand", cursive;
    font-size: $title-size;

    color: $color-1;
    margin-bottom: 20px;
}

h1 > .large {
    font-size: $title-size + 4px;
}

h1 > .small {
    font-size: $title-size - 4px;
}

p {
    font-family: "Abel", sans-serif;
    font-size: $body-size;
    align-self: flex-start;

    margin: 12px 0 6px;
    line-height: 1.3;
}

a {
    color: $color-2;

    text-decoration: none;
}

.secret {
    color: $color-0;

    &:hover {
        color: $color-1;
    }
}
