$tablet-breakpoint: 426px;
$desktop-breakpoint: 769px;

$vertical-margin: 24px;
$horizontal-margin: 24px;
$border-size: 12px;
$image-size: 34px;
$hover-growth: $image-size / 2;
$hovered-size: $image-size + $hover-growth;

a {
    text-decoration: none;

    img {
        border: 2px dashed rgb(202, 205, 231);
        border-radius: 2px;
    }
}

body {
    font-family: "Alegreya Sans", sans-serif;
}

h1 {
    font-family: "Alegreya Sans", sans-serif;
    font-size: 48px;

    margin-bottom: 12px;
}

h1 > .large {
    font-size: 52px;
}

h1 > .small {
    font-size: 44px;
}

p {
    align-self: flex-start;
    font-family: sans-serif;
}

img {
    height: $image-size;
    vertical-align: baseline;
    &.linkedHover {
        border-width: 3px;
        height: $hovered-size;

        transition: 0.1s;
    }
}
.container {
    display: flex;
    flex-direction: column;

    margin: $vertical-margin $horizontal-margin;
}

.images {
    display: flex;
    flex-flow: wrap;
    justify-content: space-around;
    width: 100%;

    margin: $vertical-margin / 2 0;
}

.staticPositioner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    height: $hovered-size;
    width: $hovered-size;
}

:not(img).linkedHover {
    color: blue;
}

@media only screen and (min-width: #{$tablet-breakpoint}) {
    body {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .container {
        max-width: $tablet-breakpoint;
    }
}

@media only screen and (min-width: #{$desktop-breakpoint}) {
    .container {
        align-items: center;

        max-width: 30vw;

        border: 12px solid black;
        padding: $vertical-margin $horizontal-margin;
    }
}
