$tablet-breakpoint: 426px;
$desktop-breakpoint: 709px;
$desktop-image-size-increase: 1.4;

$vertical-margin: 24px;
$horizontal-margin: 24px;
$border-size: 12px;
$image-size: 34px;
$hover-growth: 0px;
$hovered-size: $image-size + $hover-growth;

$title-size: 48px;
$body-size: 24px;

$face-size: 200px;
.face {
    width: $face-size;
    height: $face-size;
}

a {
    text-decoration: underline;
    img {
        border-bottom: 1px dotted blue;
    }
}

body {
    font-family: "Annie Use Your Telescope", cursive;
}

h1 {
    //font-family: "Alegreya Sans", sans-serif;
    font-size: $title-size;

    margin-bottom: 12px;
}

h1 > .large {
    font-size: $title-size + 4px;
}

h1 > .small {
    font-size: $title-size - 4px;
}

p {
    font-size: $body-size;
    align-self: flex-start;
}

img {
    height: $image-size;
    vertical-align: baseline;
    &.linkedHover {
        border-width: 3px;
        height: $hovered-size;

        transition: 0.1s;
    }
}
.container {
    display: flex;
    flex-direction: column;

    margin: $vertical-margin $horizontal-margin;
}

.images {
    display: flex;
    flex-flow: wrap;
    justify-content: space-around;
    width: 100%;

    margin: $vertical-margin / 2 0;
}

.staticPositioner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    height: $hovered-size;
    width: $hovered-size;
}

:not(img).linkedHover {
    color: blue;
}

@media only screen and (min-width: #{$tablet-breakpoint}) {
    body {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .container {
        max-width: $tablet-breakpoint;
    }
}

@media only screen and (min-width: #{$desktop-breakpoint}) {
    .container {
        align-items: center;

        max-width: $desktop-breakpoint;

        border: 12px dotted black;
        padding: $vertical-margin $horizontal-margin;
    }

    .staticPositioner {
        height: $hovered-size * $desktop-image-size-increase;
        width: $hovered-size * $desktop-image-size-increase;
    }
    img {
        height: $image-size * $desktop-image-size-increase;

        &.linkedHover {
            height: $hovered-size * $desktop-image-size-increase;
        }
    }
}
